{% extends 'dummy.html' %}
{% block title %}
<title>userlogin </title>
{% endblock %}

{% block body_block %}
<body>
    <center>
<form method="POST">
    {% csrf_token %}
    <label for="un">username</label>
    <input type="text" name="un" id="un"> <br> <br>
    <label for="pw">password</label>
    <input type="password" name="pw" id="pw"><br> <br>
    <input type="submit" value="Login">
</form>
 
<a href="{% url 'reset_password' %}" class="btn btn-primary">Reset password</a>
    </center>
</body>
{% endblock %}